{% extends '_layout.html' %}

{% block content %}
    
    {% include "common/naan-slide-messages.html" %}
    
   <div class="page-header">
    <h1>Home</h1>
   </div>
   
   <div class="row">
    <div class="span8">
       <p>
          This is a test of the Pusher Framework.
       </p>      
       
       <h2>Server-side</h2>
       
       <ul>
        <li><a href="{{rootUri}}/api/internal/createdatabase">Create Database</a></li>        
       </ul>
       
       <h4>Slim/Twig Variables</h4>
       
       <h5>Global Static</h5>
       <dl class="dl-horizontal">
            <dt>rootUri</dt><dd>{{rootUri}}</dd>
            <dt>hostUri</dt><dd>{{hostUri}}</dd>
       </dl>
       <h5>Global Dynamic</h5>
       <dl class="dl-horizontal">
            <dt>userId</dt><dd>{{userId}}</dd>
       </dl>
       <h5>Page</h5>
       <dl class="dl-horizontal">
            <dt>user.first_name</dt>
            <dd>
                <input id="field-user-first_name" type="text" value="{{user.first_name}}" />
                <a id="button-user-first_name" class="btn btn-mini btn-primary">update</a>
            </dd>
            
            <dt>user.last_name</dt>
            <dd>
                <input id="field-user-last_name" type="text" value="{{user.last_name}}" />
                <a id="button-user-last_name" class="btn btn-mini btn-primary">update</a>
            </dd>
            
            <dt>userDataString</dt><dd>{{userDataString}}</dd>
       </dl>
       
       
       <h2>Client-Side UI</h2>
       
       <h4>Slider Messages</h4>
       <style>
        ul.list-spacing-medium li
        {
            margin-top: .5em;
        }
       </style>
       <ul class="unstyled list-spacing-medium">        
           <li><a class="btn btn-info" id="add-info">Add Info Message</a></li>
           <li><a class="btn btn-success" id="add-success">Add Success Message</a></li>
           <li><a class="btn btn-danger" id="add-error">Add Error Message</a></li>
       </ul>

       
    </div>
    <div class="span4">
       <h4>Project Percent Complete</h4>
       <div class="progress progress-info progress-striped" style="margin-bottom: 22px; width: 240px">
            <div class="bar" style="width: 5%"></div>
       </div>
       
       <h4>Technologies Used</h4>
       <ul>
          <li>Slim</li>
          <li>Twig</li>
          <li>JQuery</li>
          <li>Bootstrap <i class="icon-glass" style="color: red"></i></li>
       </ul>
                   
    </div>
   </div>
{% endblock %}

{% block script_content %}

       <script type="text/javascript">
       <!--
            $(function() {
                $("#add-info").click(function() { naan.info("Hello World!"); return false; });
                $("#add-success").click(function() { naan.success("Hello World!"); return false; });
                $("#add-error").click(function() { naan.error("Hello World!"); return false; });
                
                $("#button-user-first_name").click(function() {
                    var data = {
                        first_name : $("#field-user-first_name").val()
                    };
                    naan.ajaxPutJSON("/api/user", data, function(json) {
                        naan.success("Success!");
                    });
                    return false;
                });
                $("#button-user-last_name").click(function() {
                    var data = {
                        last_name : $("#field-user-last_name").val()
                    };
                    naan.ajaxPutJSON("/api/user", data, function(json) {
                        naan.success("Success!");
                    });
                    return false;
                });
            });
       -->
       </script>
       
{% endblock %}

