{% extends '_layout.html' %}

{% block content %}
    
    {% include "common/naan-slide-messages.html" %}
    
   <div class="page-header">
    <h1>Home</h1>
   </div>
   
   <div class="row">
    <div class="span8">
       <p>
          This is a test of the Pusher Framework.
       </p>      
       
       <div>
       </div>
       
       <h4>Slider Messages</h4>
       <style>
        ul.list-spacing-medium li
        {
            margin-top: .5em;
        }
       </style>
       <ul class="unstyled list-spacing-medium">        
           <li><a class="btn btn-info" id="add-info">Add Info Message</a></li>
           <li><a class="btn btn-success" id="add-success">Add Success Message</a></li>
           <li><a class="btn btn-danger" id="add-error">Add Error Message</a></li>
       </ul>

       
    </div>
    <div class="span4">
       <h4>Project Percent Complete</h4>
       <div class="progress progress-info progress-striped" style="margin-bottom: 22px; width: 240px">
            <div class="bar" style="width: 5%"></div>
       </div>
       
       <h4>Technologies Used</h4>
       <ul>
          <li>Slim</li>
          <li>Twig</li>
          <li>JQuery</li>
          <li>Bootstrap <i class="icon-glass" style="color: red"></i></li>
       </ul>
                   
    </div>
   </div>
{% endblock %}

{% block script_content %}

       <script type="text/javascript">
       <!--
            $(function() {
                $("#add-info").click(function() { naan.info("Hello World!"); return false; });
                $("#add-success").click(function() { naan.success("Hello World!"); return false; });
                $("#add-error").click(function() { naan.error("Hello World!"); return false; });
            });
       -->
       </script>
       
{% endblock %}

