{% extends '_layout.html' %}

{% block content %}
    
    {% include "common/naan-slide-messages.html" %}
    
   <div class="hero-unit" style="text-align: center">
    <h1>Pusher Framework</h1>
    <p style="margin: 4em auto 2em auto; width: 60%">
        This is a landing page.  This would offer an enticing
        description of the site in the two or three seconds 
        that the user will be on the page deciding whether to
        click through or move on.
    </p>
   </div>
   
   <div style="margin-top: 2em" >
        <a class="login button google" href="{{rootUri}}/home"></a>
        <a class="login button facebook" href="{{rootUri}}/home"></a>
        <a class="login button twitter" href="{{rootUri}}/home" ></a>
        <p style="text-align: center">(These buttons don't do anything yet...)</p>
   </div>
     
{% endblock %}

{% block script_content %}
       
{% endblock %}

