{% extends '_layout.html' %}

{% block content %}
    
    <style>
    body
    {
        background-image: url({{rootUri}}/lib/naan/img/cork3.png);
    }
    .naan-template
    {
        display: none;
    }
    </style>
    <script type="text/javascript">
    <!--
        function naan_template (id, params)
        {
            //
            // Clone the element, replace the unique id from the clone (since it
            // would no longer be unique!), and remove the class that keeps the
            // template hidden.
            //
            var $template = $(id);
            var $e = $template.clone();
            $e.attr("id", params["_id"]);
            $e.removeClass("naan-template");
            
            //
            // Loop through the parameters and use the convention that the key
            // name should match a "t-<parameterkey>" class in the template. Swap
            // in the value - which is assumed to be HTML.
            //
            _.each(params, function(value, key) {
                $e.find(".t-" + key).html(value);
            });
           
            //
            // Now add the filled-in template before the original template element
            // itself.  This provides a first-in, first-displayed order.  Use
            // fadeIn to then display the element.
            //
            $e.hide();
            $template.after($e);
            $e.fadeIn();
            
            return $e;
        }
    -->
    </script>
      
   <div class="row">
    <div class="span8 offset1">


        <div class="navbar">
          <div class="navbar-inner" style='background-color: rgba(128,128,128,.8); background-image: none'>
            <div class="container">           
                <ul class="nav">
                    <li>
                        <h2 id="topic" class="search-query" style="color: gray; background-color: rgba(255,255,255,.9);  width: 16em; margin: 6px 2px 6px 2px">
                            <div contenteditable>Photography</div>
                        </h2>
                    </li>                    
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <h2 style='color: rgba(255,255,255,.9); font-size: 400%; padding-top: 8px'>
                            <a href="#" title="Topic details">&lt;</a>
                            <a id='create-notecard' href="#" title="Create a Notecard">+</a>
                            &hearts; 
                        </h2>
                    </li>
                </u>
            </div>
          </div>
        </div>
        

        <table id="note-list">
          <tbody>
          
            <tr id="template-note" class="naan-template">
                <td>
                    <div
                        draggable='true'
                        style="border: solid 1px #CCC; border-radius: 6px; padding: 6px; margin: .25em 0em; background-color: rgba(255,255,240,.85); box-shadow: 4px 4px 5px rgba(0,0,0,.25);"
                        >
                        <div class="t-content notecard-content" style='padding: 2px 4px' contenteditable></div>
                        <div style="border-top: dotted 1px #DDD">
                            <div class="pull-right">
                                
                                <a class='t-rank-button' href="#" title="Rate in more detail..."><i class="t-rank-icon icon-chevron-left"></i> rank</a>
                                
                                <span style="border-right: 1px dotted #CCC; margin: 0em .5em 0 .25em"></span>
                                <a class='t-remove-button' href="#" title="Never show me this notecard"><i class="icon-remove-sign"></i></a>
                                <span style="margin: 0em .5em 0 0"></span>
                                <i class="icon-thumbs-down"></i>
                                <i class="icon-thumbs-up"></i>

                            </div>
                            <div style='clear: both'></div>
                        </div>
                        <div class='t-rank' style='display: none; padding: .5em 1em; margin: 1em 0em'>
    
                            <div style='float: left; width: 20em'>
                            <h4>Personal Rating</h4>
                            <table >
                                <tbody>
                                    <tr style='border-bottom: dotted 1px gray'>
                                        <td style='padding-right: 1em'>Overall Ranking</td>                                        
                                        <td style='padding-right: 1em'>
                                            <a href="#" title="none"><i class="icon-star"></i></a>
                                            <a href="#" title="low"><i class="icon-star"></i>
                                            <a href="#" title="good"><i class="icon-star"></i>
                                            <a href="#" title="excellent"><i class="icon-star-empty"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" title="Remove my ranking"><i class="icon-remove-circle"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style='padding-right: 1em; padding-top: .75em'>Relevance to topic</td>                                        
                                        <td style='padding-right: 1em; padding-top: .75em'>
                                            <a href="#" title="none"><i class="icon-star"></i></a>
                                            <a href="#" title="low"><i class="icon-star"></i></a>
                                            <a href="#" title="good"><i class="icon-star"></i></a>
                                            <a href="#" title="excellent"><i class="icon-star-empty"></i></a>
                                        </td>
                                        <td style='padding-top: .75em'>
                                            <a href="#" title="Remove my ranking"><i class="icon-remove-circle"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Quality</td>
                                        
                                        <td>
                                            <a href="#" title="none"><i class="icon-star"></i></a>
                                            <a href="#" title="low"><i class="icon-star"></i></a>
                                            <a href="#" title="good"><i class="icon-star-empty"></i></a>
                                            <a href="#" title="excellent"><i class="icon-star-empty"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" title="Remove my ranking"><i class="icon-remove-circle"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                                <div style='font-size: 90%; color: gray; margin-top: 1em'>
                                <i>
                                    Your personal ranking of a particular note helps determine
                                    what notecards show up in your own searches as well as those
                                    as others.
                                </i>
                                </div>
                            </div>
                             
                             <div style='margin-left: 24em'>
                                <h4>Feedback to author</h4>
                                <p contenteditable style='border: 1px solid gray; border-radius: 6px; padding: 8px'>
                                    Type your private message here.
                                </p>
                                <h4>Listed under the topics:</h4>
                                <ul>
                                    <li><a href="#">... Farming &gt; Techniques</a></li>
                                    <li><a href="#">... Household &gt; Housekeeping Tips</a></li>
                                    <li>Add new...</li>
                                </ul>
                             </div>
                                
                             <div style='clear: both'></div>
                            
                        </div>
                    </div>
                </td>
                <td style="vertical-align: top; padding-top: .75em">                    
                </td>
            </tr>
          
          </tbody>
        </table>      
    </div>
    
    <div class="span2">
        <div style="background-color: rgba(255,255,255,.4); padding: .5em; width: 100%; min-height: 10em; border-radius: 8px">
            <h4>Related</h4>
            <ul class='unstyled' style='font-size: 80%; white-space: nowrap; margin: .5em 0em 0em 0.5em'>
                <li>Photography > Landscapes</li>
                <li>States > California</li>
                <li>California > Mt. Shasta</li>
                <li>Mountains</li>
            </ul>
        </div>
    </div>
   </div>
   
   <div style='margin-bottom: 12em'></div>
   
{% endblock %}

{% block script_content %}

<script type="text/javascript">
<!--
    

    $(function() {
    
        // These need to be registered at the document level or else
        // Chrome seems to grab them first.
        $(document).bind('keydown', function(e) {
            if (e.keyCode == 50 && e.ctrlKey == true)
            {
                document.execCommand("InsertUnorderedList", false, '');
                e.preventDefault();
            }
        });
        
        $("#create-notecard").click(function() {
            NoteDb.add({ 
                content : "",
            });
            return false;
        });
    
        $("#topic").keypress(function(e) {
            if (e.keyCode == 13)
                e.preventDefault();

        });
        
        var View = 
        {
            add     : function (obj)  {},
            erase   : function (obj)  {},
            update  : function (obj)  {}
        };
        
        var NoteView = _.extend(View,
        {
            add : function (note)
            {
                var $e = naan_template("#template-note", {
                    _id     : "notecard-" + note.id,
                    content : note.content
                });      
                
                // Hook up the editable content
                var $content = $e.find(".t-content");
                $content.attr('data-id', note.id);
                $content.focus(function(e) {
                    $(this).attr("data-previous-content", $(this).html());
                });
                $content.blur(function(e) {
                    var previous = $(this).attr("data-previous-content");
                    var current = $(this).html();
                    if (current != previous)
                    {
                        var id = $(this).attr("data-id");
                        NoteDb.update(id, { content : $(this).html() });
                    }
                });
                $content.keypress(function(e) {
                    if (e.keyCode == 10 && e.ctrlKey == true)
                    {
                        e.preventDefault();
                        $(this).blur();
                    }
                });
                
                $e.find('.t-rank-button').click(function() {
                    $e.find('.t-rank-icon').toggleClass('icon-chevron-left').toggleClass('icon-chevron-down');
                    $e.find('.t-rank').slideToggle('fast');
                });

                // Hook up the remove button
                $e.find(".t-remove-button").attr("data-id", note.id).click(function() {
                    if (confirm("Are you sure you wish to remove this note?")) {
                        var id = $(this).attr("data-id");
                        NoteDb.erase(id, function(){
                            $e.unbind().fadeOut();
                        });
                    }
                    return false;
                });
                
                // Hook up drag and drop
                $e.bind('dragenter',    function(e) { 
                    e.preventDefault(); 
                    return false; 
                });
                $e.bind('dragleave',    function(e) { 
                    e.preventDefault(); 
                    return false; 
                });
                $e.bind('dragover',     function(e) { 
                    e.preventDefault(); 
                    return false; 
                }); 
                
                $e.bind('dragstart',     function(e) { 
                    e.originalEvent.allowedEffect = "move";
                    e.originalEvent.dataTransfer.setData('text/plain', $(this).attr('id'));
                    $(this).animate({'opacity' : .4 }, 250);              
                });     
                $e.bind('dragend',     function(e) { 
                    $(this).animate({'opacity' : 1.0 }, 500);
                }); 
                $e.bind('drop', function (e) {
                    var $target = $(this);
                    var $source = $( "#" + e.originalEvent.dataTransfer.getData('text/plain') );                    
                    if ($target.attr('id') != $source.attr('id'))
                    {
                        $source.detach();
                        $target.after( $source );
                    }
                });
            },            
        });
        
        var Model = 
        {
            _views : [],
            
            addView : function(view)
            {
                this._views.push(view);
            },
            
            _notifyViews : function (funcName, obj) 
            {
                _.each(this._views, function(view) {
                    view[funcName](obj);
                });
            },
            _notifyAdd      : function (obj) { this._notifyViews('add', obj); },
            _notifyErase    : function (obj) { this._notifyViews('erase', obj); },
            _notifyUpdate   : function (obj) { this._notifyViews('update', obj); }
            
        };
        
        var NoteDb =_.extend(Model, 
        {
            initialize : function()
            {
                var self = this;
                naan.ajaxGetJSON("/api/notecards", {}, function(json) {
                    _.each(json, function(note) {  
                        self._notifyAdd(note);
                    });
                });
            },
                        
            add : function (note, success)
            {
                var self = this;
                naan.ajaxPostJSON("/api/notecards", note, function(json) {                
                    note.id = json.id;
                    if (success)
                        success(note);
                    self._notifyAdd(note);
                });
            },
            
            update : function (id, params)
            {
                naan.ajaxPutJSON('/api/notecards/' + id, params, function (json) {
                    self._notifyUpdate(id, params);
                });
            },
            
            erase : function (id, success)
            {
                var self = this;
                naan.ajaxDeleteJSON("/api/notecards", { id : id }, function(json) {
                    if (success)
                        success();
                    self._notifyDelete(note);
                });
            }
        });
        
        NoteDb.addView(NoteView);
        NoteDb.initialize();
                
        $("#button_display").click(function() {
            var data = {
                content : editor.val()
            };
            NoteDb.add(data, function() {
                editor.val("");
            });
            return false;
        });
    });
-->
</script>
       
{% endblock %}

